<!DOCTYPE html>
<html>
<head>
    <title>{% block meta_title %}{{ settings.meta_title }}{% endblock %}</title>

    <meta property="fossbilling:url" content="{{ constant('BB_URL') }}">
    <meta name="csrf-token" content="{{ CSRFToken }}">

    <meta name="description" content="{% block meta_description %}{{ settings.meta_description }}{% endblock %}">
    <meta name="robots" content="{{ settings.meta_robots }}">
    <meta name="author" content="{{ settings.meta_author }}">
    <meta name="generator" content="FOSSBilling {{ guest.system_version }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block opengraph %}{% endblock %}

    {{ encore_entry_link_tags('fossbilling') }}
    <script src="{{ "Api/API.js?v=#{guest.system_version}" | library_url }}"></script>
    {{ encore_entry_script_tags('fossbilling') }}

    {% block head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    {% if guest.extension_is_on({ "mod": "cookieconsent" }) %}
        {% include 'mod_cookieconsent_index.html.twig' ignore missing %}
    {% endif %}

    {% include 'partials/header.html.twig' %}

    <div class="page-wrapper">
        {# Content header #}
        {% block page_header %}
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            {{ block('meta_title') }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {# Content body #}
        <div class="page-body">
            <div class="container-xl">
                {% block content_before %}{% endblock %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
                {% block content_after %}{% endblock %}   
            </div>
        </div>
        {% include 'partials/footer.html.twig' %}
    </div>

{% endblock %}
</body>
</html>